@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.inputBorder {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#cdcddf, #cdcddf) padding-box,
    linear-gradient(var(--angle), #cdcddf, #cdcddf 50%, #d02df5) border-box;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
  
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
